<!DOCTYPE html>
<html>
  <head>
    <title>Roblox Status</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="shortcut icon" href="https://www.roblox.com/favicon.ico">
    <script src="jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/main-mobile.css">
    <meta content="Roblox Status" property="og:title">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="theme-color" content="#e34439">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="The unofficial page designed to show the current status of the main services of Roblox." property="og:description">
  </head>
  <body>
    <div class="wrapper">
      <div class="nav">
        <a href="https://roblox.com"><img src="silverlogo.png" class="nav-brand"></a>
        <a href="https://github.com/Sazzo/RobloxStatus/" class="nav-item">github</a>
         <a href="https://roblox.com" class="nav-item">roblox</a>
      </div>
      <div class="ingeral">
      <% if(haveOffline) { %>
      <div class="status offline2">
          <span class="note">Some things are offline</span>
        </div>
      <% } else { %>
      <div class="status online2">
          <span class="note">All Systems Operational</span>
        </div>
   <% } %>
      </div>
      <div class="all">
        <% status.forEach(({url, name, online, reason}) => { %>
       <a style="position: relative; top: 60px; margin-left: 50px; text-decoration: none; color: #bbb; font-size: 3mm;" href="<%- url %>"><p><%= name %>: <%- online ? `<span class="online">Online</span>` : `<span class="offline">Offline</span>`%>
      <% }) %>
      </div>
    </div>
    </div>
        <p class="footer">Made with ❤ by FelipeSazz</p>
         <p class="footer unrelatedNote">This website is unofficial and is not related and/or affiliated in any way to Roblox or the Roblox Corporation.</p>
      </div>
  </body>
</html>
