<!DOCTYPE html>
<html>
  <head>
    <title>Roblox Status</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="shortcut icon" href="https://www.roblox.com/favicon.ico">
    <script src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
      setInterval(() => {
        $.get("/json", (data) => {
          let html = data.map(({url, name, online}) => {
            return `<a style="text-decoration: none; color: #bbb" href="${url}"><p>${name}: ${online ? `<span style='color: #70ff8a'>Online (${online}ms)</span>` : `<span style='color: #ff7070'>Offline</span>`}</p></a>`
          })
          $(".statuses").html(html)
        })
      }, 30000)
    </script>
  </head>
  <body>
    <div class="wrapper">
      <div class="app">
        <h1 class="header">Roblox Status(DEV VERSION)</h1>
        <div class="statuses">
          <% status.forEach(({url, name, online}) => { %>
            <a style="text-decoration: none; color: #bbb" href="<%- url %>"><p><%= name %>: <%- online ? `<span style='color: #70ff8a'>Online (${online}ms)</span>` : `<span style='color: #ff7070'>Offline</span>` %></p></a>
          <% if(!online) { %>
          <h3>Why is a Roblox service offline?</h3>
          <p>Possible Reasons:</p>
          1.Maintenance (a little rare);
          <br>
          2.Server crash (In this case, there will always be an error when trying to access Roblox)
          <% } %>
          <% }) %>
        </div>
        <p class="footer">Website by <a class="footer link" href="https://github.com/Sazzo">BeeCoding and FelipeSazz</a></p>
        <a class="footer link" href="https://github.com/Sazzo/RobloxStatus">Source Code</a>
        <p class="footer unrelatedNote">This website is unofficial and is not related and/or affiliated in any way to Roblox or the Roblox Corporation.</p>
      </div>
    </div>

    <!-- This should probably be in a separate file, but meh. -->
    <style>
      body {
        height: 100vh;
        margin: 0;
        font-family: 'Roboto', sans-serif;
        background-color: #333;
        color: #bbb;
      }

      .statuses {
        padding-bottom: 0.5em;
      }

      .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .app {
        text-align: center;
      }

      .header {
        color: #ddd;
        font-weight: bold;
      }

      .footer {
        color: #666;
      }

      .link {
        text-decoration: underline;
      }

      .unrelatedNote {
        font-size: 10px;
      }

    </style>
  </body>
</html>
