<!DOCTYPE html>
<html>
  <head>
    <title>Roblox Status</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="shortcut icon" href="https://www.roblox.com/favicon.ico">
    <script src="jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="/main.css">
    <meta content="Roblox Status" property="og:title">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="theme-color" content="#e34439">
    <meta content="The unofficial page designed to show the current status of the main services of Roblox." property="og:description">
    <script type="text/javascript">
      setInterval(() => {
        $.get("/api/v1/statuses", (data) => {
          let html = data.map(({url, name, online}) => {
            return `<a style="text-decoration: none; color: #bbb" href="${url}"><p>${name}: ${online ? `<span style='color: #70ff8a'>Online</span>` : `<span style='color: #ff7070'>Offline</span>`}</p></a>`
          })
          $(".statuses").html(html)
        })
      }, 30000)
    </script>
  </head>
  <body>
    <div class="wrapper">
      <div class="app">
        <h1 class="header">Roblox Status</h1>
        <div class="statuses">
          <% status.forEach(({url, name, online}) => { %>
            <a style="text-decoration: none; color: #bbb" href="<%- url %>"><p><%= name %>: <%- online ? `<span style='color: #70ff8a'>Online</span>` : `<span style='color: #ff7070'>Offline</span>` %></p>
            </a>
          <% }) %>
        </div>
        <p class="footer">Website by <a class="footer link" href="https://github.com/Sazzo">BeeCoding and FelipeSazz</a></p>
        <a class="footer link" href="https://github.com/Sazzo/RobloxStatus">Source Code</a>
        <p class="footer unrelatedNote">This website is unofficial and is not related and/or affiliated in any way to Roblox or the Roblox Corporation.</p>
      </div>
    </div>
  </body>
</html>
